<div class="content">
  <div class="details">
    <div class="header">
      <h3>Cabal Coffers Calculator</h3>
      <div>TODO</div>
      <div>1. allow multiple coffers with mana pool</div>
      <div>2. dont allow untap to calculate</div>
      <button mat-icon-button (click)="reset()" color="primary">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="options">
      <div>
        <div>
          <span>
            <mat-slide-toggle class="example-margin" (change)="setCoffers($event)" [checked]="state?.isCoffersSwamp"> Is
              Coffers Swamp? </mat-slide-toggle>
          </span>
        </div>
        <div>
          <span>Total Coffers :&nbsp;</span>
          <span>{{state.totalCoffers.length}}</span>
          <span>
            <button mat-icon-button (click)="processCoffers(-1)" color="primary">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="processCoffers(1)" color="primary">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </span>
        </div>
        <div>
          <span>Total Swamp :&nbsp;</span>
          <span>
            <span>{{state.totalSwamp.length}}</span>
            <button mat-icon-button (click)="processSwamp(-1)" color="primary">
              <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-icon-button (click)="processSwamp(1)" color="primary">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div>Mana pool: {{state.manaPool}}</div>
    <div class="manaPool">
      <div *ngFor="let i of counter(state.manaPool)" class="icon black manaPool"></div>
    </div>
    <div>
      <div>tapped:{{state.tappedSwamp}}</div>
      <div>Untapped:{{state.untappedSwamp}}</div>
    </div>
    <div class="container">
      <img *ngFor="let coffer of state.totalCoffers" src="/cabal-coffers-tech/assets/cabal-coffers.jpeg" alt="Cabal Coffers" class="card"
        (click)="coffer.tapped = !coffer.tapped; calculate()" [ngClass]="{'tapped': coffer.tapped}">
    </div>
    <div class="container">
      <img *ngFor="let coffer of state.totalSwamp" src="/cabal-coffers-tech/assets/swamp.jpeg" alt="Cabal Coffers" class="card"
        (click)="coffer.tapped = !coffer.tapped" [ngClass]="{'tapped': coffer.tapped}">
    </div>
  </div>
</div>